.AndroidStudio3.1/config/options/androidEditors.xml
.AndroidStudio3.1/config/options/fileEditorProviderManager.xml
.AndroidStudio3.1/config/options/filetypes.xml
.AndroidStudio3.1/config/options/find.xml
